---
import Svg_ from 'src/components/svg.astro';

import { routes } from 'src/routes';

const year = (new Date()).getFullYear();
---

<footer>
	<div class="footer__wrap">
		<div class="content footer">
			<div>
				<address class="footer__contact">
					<p>
						1600 Pennsylvania Ave<br />
						Washington, DC 20001<br />
					</p>
				</address>
			</div>

			<div class="footer__social">
				<a href={routes.twitter}>
					Twitter<Svg_ src="public/img/icon/twitter.svg" />
				</a>
				<a href={routes.linkedin}>
					LinkedIn<Svg_ src="public/img/icon/linkedin.svg" />
				</a>
			</div>

			<div class="footer__links">
				<a href={routes.home}>Home</a>
				<a href={routes.privacy}>Privacy</a>
				<a href={routes.terms}>Terms</a>
			</div>
		</div>
	</div>

	<div class="content disclaimer">
		<p class="list--inline--links">
			<small>
				© {year} All rights reserved.
				<a href={routes.terms}>Terms and conditions</a>
				<a href={routes.privacy}>Privacy</a>
			</small>
		</p>
	</div>
</footer>

<style lang="scss">
@use 'src/scss/vars';

.footer__wrap {
	background-color: vars.$color--shadow;

	@media print {
		background-color: transparent;
		border-top: 1px solid #000000;
	}
}

.footer {
	display: flex;
	justify-content: space-between;

	@include vars.if-viewport('<', lg) {
		flex-direction: column;
	}
}

.footer a {
	color: inherit;
	font-weight: normal;

	&:hover {
		color: vars.$color--brand--sink;
	}
}

.footer__logo {
	height: 40px;
	margin-bottom: .5em;
	width: auto;
}

.footer__social {
	font-size: 0;

	svg {
		height: 40px;
		width: 40px;
	}

	a:not(:last-child) {
		margin-right: 10px;
	}
}

.footer__contact {
	line-height: 2em;
	margin-bottom: 1em;
}

.footer__links {
	display: flex;
	flex-direction: column;

	@include vars.if-viewport('>=', lg) {
		align-items: flex-end;
	}
}

.footer__links a {
	margin-bottom: 1em;
}

.disclaimer {
	min-height: 0;
}
</style>
